<div class="row">
  <div class="col-md-5 offset-md-1">
    <div class="card">
      <img class="card-img-top" src="">
      <div class="card-body">
        <h4 class="card-header"><em>Name</em></h4>
        <h3 class="card-title">GitHub Username</h3>
        <p class="card-text"><em>Username</em></p>
        <h3 class="card-title">Email Address</h3>
        <p class="card-text"><em>email</em></p>
        <a href="#" class="btn btn-danger">Repositories</a>
        
      </div>
    </div>
  </div>
</div>