<div class="row">
  <div class="col-md-5 offset-md-1">
    <div class="card">
      <img src="{{user.avatar_url}}">
      <div class="card-body">
        <h4 class="card-header"><em>{{user.name}}</em></h4>
        <h3 class="card-title">GitHub Username</h3>
        <p class="card-text"><em>{{user.login}}</em></p>
        <h3 class="card-title">Followers</h3>
        <p class="card-text"><em>{{user.followers_url}}</em></p>
        <h3 class="card-title">Repositories</h3>
        
        <a href="#" class="btn btn-danger">Repositories</a>
        
      </div>
    </div>
  </div>
</div>